@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,600);

@mixin aspect-ratio($width, $height) {
   position: relative;
   &:before{
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
   }
   > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }
}

$raleway: 'Raleway', sans-serif;
$font-stack: normal 300 1em $raleway;
$colors-theme-blue: #74C6DA;
$colors-theme-gray: #8E8F93;
$gutter-width: 2vw;
$mobile-min-width: 800px;

/* RESETS */
* {margin: 0;padding: 0;}
html {font-size: 1em;max-width: 100vw;}
a {color: inherit;text-decoration: none;cursor: pointer;}

body {
   position:relative;
   text-align: center;
   background-color: eee;

}

/* MODULARS */
.sg- {
   &wrapper {
      display: block;
      position: relative;
      width: 100%;
      font-size: 0;
   }
   &box {
      display: block;
      margin: $gutter-width 0;
      max-width: 100vw;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      font-size: 1rem;
      width: 100%;
      @media (min-width: $mobile-min-width) {
         height: auto !important;
      }
   }
   &full {
      clear: both;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      .sg-box {margin-left: 0;margin-right: 0;}
   }
   @media (min-width: $mobile-min-width) {
      &box {margin-top: 0;}
      &left {float: left;width: 58%;.sg-box{margin-left:0;}}
      &right {float:right;width: 40%;.sg-box{margin-right:0;}}
   }
}

#identity { // 1115,815
   @include aspect-ratio(1115,815);
   height: 80vh;
   background-image: url('../img/man-smiling-dog.jpg');
   background-position: center 80%;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: 0;
   margin-top: 0;
   .logo {
      height: 30%;
      position: absolute;
      top: 8%;left: 50%;
      transform: translateX(-50%);
   }
   .vertical-text {
      height: 110%;
      position: absolute;
      top: 50%; right: 0;
      transform: translate(0.1%,-50%);
   }
}
#kitchen-sketch {// 400,350
   @include aspect-ratio(168.78,140.75);
   height: 220px;
   background-image: url('../img/render-interior-kitchen.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   @media (min-width: $mobile-min-width) {
      display: inline-block;
      margin-right: $gutter-width;
      width: 34.48%;
   }
}
#outside-sketch {// 670,350
   @include aspect-ratio(303.546,140.75);
   height: 220px;
   background-image: url('../img/render-exterior-sketch.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   @media (min-width: $mobile-min-width) {
      display: inline-block;
      width: calc(65.52% - 2vw);
   }
}
#learn-more {// 775,190
   @include aspect-ratio(775,190);
   background-color: $colors-theme-blue;
   a {
      color: #ffffff;
      font: $font-stack;
      font-size: 1.5em;
      letter-spacing: 1px;
      bottom: 12%;
      position: absolute;
      left: 10%;
   }
}
.form-constraint {
   @media (min-width:$mobile-min-width) {
      margin-bottom: 1px !important;
   }
}
#grand-b {// 775,960
   @include aspect-ratio(333.594,410.8597);
   height: 80vh;
   background-image: url('../img/sunset-couple.jpg');
   background-position: center 30%;
   background-repeat: no-repeat;
   background-size: cover;
   .letter {
      height: 90%;
      position: absolute;
      top:0;left:-1px;
   }
   @media (min-width: $mobile-min-width) {
      .letter {
         height: 80%;
      }
   }
}
#tagline {
   padding: 10% 0;
   background-image: url('../img/tile-bishops-b.gif');
   background-repeat: repeat;
   background-size: 11%;
   text-align: left;
   .tagline {
      color:#ffffff;
      font: $font-stack;
      font-size: 2em;
      display: inline-block;
      line-height: 1.3em;
      margin-left: 6%;
      text-align: left;
   }
   @media (min-width: $mobile-min-width) {
      padding: 4% 0 12%;
      background-size: 7.5%;
      .tagline {font-size: 2.8em;}
   }
   @media (min-width: 1100px) {
      background-size: 75px;
   }
}
#footer {// 1930,500
   padding: 50px 5% 40px;
   background-color: $colors-theme-gray;
   text-align: center;
   h3, .contact, .legal {
      display: block;
      color: #ffffff;
      font: $font-stack;
   }
   h3 {
      font-size: .9em;
      letter-spacing: .5px;
      line-height: .5em;
   }
   .contact {
      margin: 5px 0;
      li {
         display: inline-block;
         font-size: .8em;
         opacity: .8;
      }
   }
   .legal {
      font-size: .7em;
      opacity: .7;
   }
   @media (min-width: $mobile-min-width) {
      padding: 6% 0 2%;
      .contact br {display: none;}
   }
}
#contact-form {
   margin: 0 0 20px;
   text-align: right;
   input, textarea {
      color: $colors-theme-gray;
      font: $font-stack;
   }
   .field {
      box-sizing: border-box;
      display: block;
      height: 35px;
      margin: 20px 0;
      padding: 5px 10px;
      width: 100%;
      border: 1px solid $colors-theme-blue;
      color: $colors-theme-blue;
      font-size: .8em;
      font-weight: 400;
      letter-spacing: .75px;
      outline: none;
      &:first-of-type {margin-top: 0;}
      &::placeholder {
         color: $colors-theme-gray;
         font-weight: 300;
      }
      &.invalid {
         border: 1px solid red;
         color: red;
      }
   }
   .submit {
      box-sizing: border-box;
      height: 35px;
      min-width: 60px;
      padding: 0 10px;
      background-color: $colors-theme-blue;
      border: none;
      border-radius: 0;
      color: #ffffff;
      cursor: pointer;
      font-size: .7em;
      letter-spacing: 1px;
      outline: none;
   }
}
#submission-response {
   display: none;
   margin: 30px 0 40px;
   text-align: center;
   h3 {
      font-size: 1.5em;
      letter-spacing: 1px;
      line-height: 1.25em;
      text-align: center;

   }
   &.active {
      display: block;
   }
}

.contact-form-wrapper {
   box-sizing: border-box;
   display: none ;
   height: auto;
   margin: 0;
   padding: 25px;
   position: relative;
   width: 100%;
   background-image: url('../img/tile-bishops-b.gif');
   background-repeat: repeat;
   background-size: 50px;
   font-size: 1rem;
   .inner {
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      padding: 10% 5% 11%;
      position: relative;
      width: 100%;
      background: #ffffff;
      text-align: center;
      @media (min-width: $mobile-min-width) {
         padding-top: 5%;
      }
   }
   .close {
      color: $colors-theme-gray;
      font: $font-stack;
      font-size: .8em;
      text-transform: uppercase;
      display: block;
      padding: 7px 7px;
      position: absolute;
      top:0;right:0;
      &:hover {
         color: $colors-theme-blue;
      }
   }
   h3 {
      color: $colors-theme-gray;
      font: $font-stack;
      font-size: 1.4em;
      font-weight: 400;
      line-height: .75em;
      text-align: left;
      display: block;
      margin-bottom: 30px;
      margin-left: 5%;
      margin-top: .5em;
   }
   .logo {
      position: absolute;
      bottom: 0; left: 50%;
      transform: translate(-50%, 40%);
      width: 35%;
      @media (min-width: $mobile-min-width) {
         width: 25%;
      }
   }
   @media (min-width: $mobile-min-width) {
      position: fixed;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      width: 650px;
      z-index: 10;
      @media (min-height: 700px) {
         top: 40%;
      }
   }
}
